
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bulma
@import "~bulma/bulma";


body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: #f5f7fa;
}

.logo img {
  width: 120px;
}

.container {
  padding-top: 50px;
  max-width: 968px;
}

.section {
  margin-top: 40px;
  border: 1px solid #efefef;
  border-radius: 5px;
}

.status-header {
  padding: 40px 40px 80px 40px;
}

.status-header .indicator {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  margin-right: 20px;
  background: #17d766;
  background: -moz-linear-gradient(top, #17d766 0%, #17d766 50%, #16cf62 51%, #16cf62 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #17d766), color-stop(50%, #17d766), color-stop(51%, #16cf62), color-stop(100%, #16cf62));
  background: -webkit-linear-gradient(top, #17d766 0%, #17d766 50%, #16cf62 51%, #16cf62 100%);
  background: -ms-linear-gradient(top, #17d766 0%, #17d766 50%, #16cf62 51%, #16cf62 100%);
  background: linear-gradient(to bottom, #17d766 0%, #17d766 50%, #16cf62 51%, #16cf62 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#17d766', endColorsGradientType=0);
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.status-header .title {
  display: inline-block;
}

.status-header .subtitle {
  display: block;
  margin-left: 35px;
}

.status-footer {
  padding-left: 20px;
}

.status-footer a {
  padding: 0 10px;
}

.modalActive {
  visibility: visible;
}

.card-h2 {
  color: #363636;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.125;
}

.card-user a{
  color: #00d1b2;
  cursor: pointer;
  text-decoration: none;
}
